body{ 
  margin:0; 
  font-family:Arial,sans-serif; 
  background:#f6eff4; } 
/* HEADER */ 
  .header{ display:flex; 
    justify-content:space-between; 
    align-items:center; 
    padding:15px 40px; 
    background:white; 
    border-bottom:1px solid #eee; 
  } 
/* LOGO */ 
.logo{ 
  display:flex; 
  align-items:center; 
  gap:12px; 
} 
.logo-icon{ 
  width:45px; 
  height:45px; 
  border-radius:14px; 
  background:linear-gradient(135deg,#8a2be2,#ff4da6); 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  color:white; 
  font-size:22px; 
} 
.logo span{ 
  color:#8a2be2;
  font-weight:bold; 
  font-size:24px; 
} 
.logo p{ 
  margin:0; 
  font-size:12px; 
  color:gray; 
} 
  /* MENU */ 
.menu{ 
  display:flex; 
  align-items:center; 
  gap:22px; 
} 
.menu a{ 
  text-decoration:none; 
  color:#333; 
  font-size:14px; 
} 
.menu .activo{ 
  color:#8a2be2; 
  font-weight:bold; 
} 
.registro-btn{
  border:none; 
  padding:11px 18px; 
  border-radius:12px;
  background:linear-gradient(135deg,#8a2be2,#ff4da6); 
  color:white; 
  cursor:pointer; 
} 




.contenedor-donaciones{
    max-width:1200px;
    margin:40px auto;
    padding:20px;

    display:flex;
    gap:40px;
    align-items:flex-start;
}

.info-panel{
    width:320px;
    text-align:center;
}

.info-panel i{
    font-size:60px;
    color:#8a2be2;
    margin-bottom:15px;
}

.info-panel h1{
    color:#8a2be2;
    font-size:38px;
    margin-bottom:10px;
}

.info-panel p{
    color:#666;
    line-height:1.6;
}

.total-card{
    margin-top:25px;

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);
}

.total-card span{
    color:#777;
    font-size:14px;
}

.total-card h2{
    margin:10px 0 0;
    color:#16a34a;
    font-size:34px;
}

.tabla-card{
    flex:1;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:linear-gradient(
    135deg,
    #8a2be2,
    #ff4da6
    );
}

thead th{
    color:white;
    padding:18px;
}

tbody td{
    padding:16px;
    text-align:center;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#faf5ff;
}

.monto{
    color:#16a34a;
    font-weight:bold;
}

@media(max-width:900px){

    .contenedor-donaciones{
        flex-direction:column;
    }

    .info-panel{
        width:100%;
    }

    .tabla-card{
        overflow-x:auto;
    }

}